.team{
  width: 90%;
  margin: 20px;
}

.team-row1 img,.team-row2 img{
  width: 200px;
  border-radius: 6px;

}

#tttyy{ 
  width: 75%;
  display: flex;
  justify-content: space-between ;
  /* margin-left:50px ; */
}
.team-row1 ,.team-row2{
  width: 100vw;
  display: flex;
  margin-left: 20px;

}
.data{
  margin-left: 20px;

}
.data h1{
  width: 140px;
}
.data p{
  width: 147px;
}
.ourTeamH,.ourTeamP{
  width: 80%;
  text-align: center;
  color: rebeccapurple;
}
.ourTeamP{
  margin: 0 0 30px 0;
  padding: 0 11em ;

}