.navbar{
  width:100%;
  /* margin: 30px; */
  /* margin: 0 auto; */
  margin-bottom: 40px;
  
} 
nav{
  padding: 20px;
  padding-left: 50px;
  width: 72%;
  display: flex;
  gap: 30px;
  align-items: center;
  /* justify-content: space-between; */
  background: white;
  position:static;
  top: 0;
  left: 0;
}
.logo{
  width: 25%;
  color:rgb(9, 202, 202);
}
nav ul{
  display: flex;
  gap: 15px;
  /* width: 40%; */

}

nav ul li{
  list-style: none;
  margin-left: 40px;
  cursor: pointer;
}
nav ul li:hover{
  color: rgb(212, 52, 3);
}
.navBtn{
  margin-left: 100px;
}